@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap");
/*font-family: 'Anek Bangla', sans-serif;
font-family: 'Anek Tamil', sans-serif;
font-family: 'Antonio', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Expletus Sans', cursive;
font-family: 'Judson', serif;
font-family: 'Montaga', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.918);
  margin: 0;
}

header {
  display: flex;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: auto;
  z-index: 2;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  padding: 20px 0px;
}
nav ul li {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 18px;
}
nav .menu > li {
  position: relative;
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  padding: 10px;
}

nav a:hover {
  color: rgba(255, 255, 0, 0.884);
}

.submenu {
  position: absolute;
  width: 250%;
  background-color: rgba(0, 0, 0, 0.918);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  list-style: none;
}

.submenu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.subrayado {
  text-decoration: line-through;
  font-size: 200px;
  text-align: center;
  color: rgb(231, 231, 8);
  background-image: url(../imagenes/imgInicio1.png);
  background-size: cover;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

.titulo-foto {
  text-align: center;
  margin: 5%;
  color: whitesmoke;
  font-size: 19px;
  font-family: "Saira Extra Condensed", sans-serif;
}

.containeer, .container2 {
  text-align: center;
  background-color: rgba(22, 150, 236, 0.452);
  padding: 2%;
  display: flex;
  width: auto;
  height: 100%;
}
.containeer .polaroid, .container2 .polaroid {
  position: relative;
  width: 22%;
  margin: auto;
  background-color: aliceblue;
  padding: 3%;
  color: black;
}
.containeer .polaroid figcaption, .container2 .polaroid figcaption {
  left: 0px;
  bottom: 0px;
  color: black;
  font-family: "Saira Extra Condensed", sans-serif;
}
.containeer .polaroid .pfigcaption, .container2 .polaroid .pfigcaption {
  color: black;
  margin-top: 5%;
  font-family: sans-serif;
}

.container2 {
  text-align: center;
  background-color: rgba(255, 206, 142, 0.904);
  padding: 2%;
  display: flex;
  width: auto;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

h2 {
  color: white;
  font-family: "Big Shoulders Display", cursive;
  width: 100%;
  margin-top: 10%;
}

.drop-anterior {
  display: flex;
  background-color: rgba(0, 255, 221, 0.616);
  width: 100%;
  height: 80vh;
  text-align: center;
  position: relative;
  margin-top: 3%;
}
.drop-anterior .imagen-drop {
  width: 65%;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.drop-anterior .titulo-imagen1 {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  width: 34%;
}

.drop-anterior1 {
  display: flex;
  background-color: rgba(215, 243, 149, 0.815);
  width: 100%;
  height: 80vh;
  text-align: center;
  position: relative;
  margin-top: 0%;
}
.drop-anterior1 .imagen-drop2 {
  width: 65%;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin-left: auto;
}
.drop-anterior1 .titulo-imageen1 {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  width: 34%;
}

.imagen-drop > img, .imagen-drop2 > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.drop-anterior4 {
  display: flex;
  background-color: rgba(236, 126, 126, 0.815);
  width: 100%;
  height: 70vh;
  text-align: center;
  position: relative;
  margin-top: 0%;
}
.drop-anterior4 .titulo-imagen2 {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  width: 34%;
  text-align: left;
}
.drop-anterior4 .titulo-imagen2 .cristal {
  text-align: left;
  width: 5%;
  margin: 5%;
  margin-top: 40%;
}
.drop-anterior4 .titulo-imagen3 {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  width: 34%;
}

.textoo {
  font-size: 30px;
  margin: 5%;
  margin-top: 0%;
}

h4 {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 50px;
  margin-top: 40%;
}

.contenedor {
  height: 35vh;
}

footer {
  background-color: #141414;
  color: white;
  width: 80%;
  margin: auto;
  font-family: "Saira Extra Condensed", sans-serif;
}
footer .main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 3rem;
}
footer .main .brand {
  width: 75%;
}
footer .main li {
  list-style: none;
  margin-bottom: 10px;
}
footer .main input[type=text] {
  padding: 8px 10px;
  background-color: #141414;
  color: white;
  border: 1px solid #ccc;
  outline: none;
}
footer .main .btn {
  padding: 9px 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
}
footer .main .accounts {
  margin-top: 30px;
}
footer .main .accounts i {
  margin-right: 20px;
  font-size: 20px;
}
footer .copyright {
  color: rgb(255, 139, 226);
  padding: 1.2rem;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  opacity: 0.6;
}

hr {
  opacity: 0.6;
}

@media (max-width: 1050px) {
  .brand {
    display: none;
  }
}
@media (max-width: 950px) {
  .datos {
    display: none;
  }
}
@media (max-width: 860px) {
  .textoo {
    display: none;
  }
  .containeer, .container2 {
    display: flex;
    flex-direction: column !important;
  }
}
/*font-family: 'Saira Extra Condensed', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.918);
  margin: 0;
}

header {
  display: flex;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: auto;
  z-index: 2;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  padding: 20px 0px;
}
nav ul li {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 18px;
}
nav .menu > li {
  position: relative;
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  padding: 10px;
}

nav a:hover {
  color: rgba(255, 255, 0, 0.884);
}

.submenu {
  position: absolute;
  width: 250%;
  background-color: rgba(0, 0, 0, 0.918);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  list-style: none;
}

.submenu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.subrayado2 {
  font-size: 200px;
  text-align: center;
  color: rgba(215, 243, 149, 0.815);
  background-image: url(../imagenes/imgHombre1.png);
  background-size: center;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 200px;
}

.titulo-foto {
  text-align: center;
  margin: 5%;
  color: whitesmoke;
  font-size: 19px;
  font-family: "Saira Extra Condensed", sans-serif;
}

.container5 {
  text-align: center;
  background-color: rgb(255, 160, 242);
  padding: 2%;
  display: flex;
  width: 100%;
  height: 100%;
}
.container5 .polaroid {
  position: relative;
  width: 22%;
  margin: auto;
  background-color: aliceblue;
  padding: 3%;
  color: black;
}
.container5 figcaption {
  left: 0px;
  bottom: 0px;
  color: black;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 18px !important;
}
.container5 .pfigcaption {
  color: black;
  margin-top: 5%;
  font-family: sans-serif;
  margin-bottom: 0% !important;
  font-size: 18px;
}

hr {
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.pie-pagina {
  margin-top: 15%;
}
.pie-pagina h3 {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  display: grid;
  justify-content: center;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .grupo-1 .redFooter {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 1px;
}
.pie-pagina .grupo-2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .grupo-2 small {
  color: rgb(253, 162, 230);
  font-family: sans-serif;
}

@media (max-width: 710px) {
  body {
    font-size: 16px;
    width: 100vh !important;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 18px;
  }
  .card {
    margin-top: 4%;
  }
  .carousel-indicators {
    display: none;
  }
  strong {
    display: none;
  }
  .container2 {
    display: flex;
    flex-direction: column !important;
  }
  .polaroid {
    width: 66% !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 4% !important;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 18px;
    width: 100vh !important;
  }
  .container5 {
    display: flex;
    flex-direction: column !important;
  }
  .polaroid {
    width: 66% !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 4% !important;
  }
}
/*font-family: 'Saira Extra Condensed', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.918);
  margin: 0;
}

header {
  display: flex;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: auto;
  z-index: 2;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  padding: 20px 0px;
}
nav ul li {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 18px;
}
nav .menu > li {
  position: relative;
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  padding: 10px;
}

nav a:hover {
  color: rgba(255, 255, 0, 0.884);
}

.submenu {
  position: absolute;
  width: 250%;
  background-color: rgba(0, 0, 0, 0.918);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  list-style: none;
}

.submenu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.subrayado3 {
  font-size: 200px;
  text-align: center;
  color: rgba(255, 189, 102, 0.719);
  background-image: url(../imagenes/imgMujer1.png);
  background-size: center;
  background-attachment: fixed;
  height: 850px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

.titulo-foto {
  text-align: center;
  margin: 5%;
  color: whitesmoke;
  font-size: 19px;
  font-family: "Saira Extra Condensed", sans-serif;
}

.galeriaLanzamiento {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 220px 400px;
  padding: 20px;
  grid-gap: 20px;
}
.galeriaLanzamiento .items {
  border: 2px whitesmoke;
  border-radius: 10px;
}
.galeriaLanzamiento .items:hover {
  transform: scale(1.05);
  transition: all 0.6s;
}
.galeriaLanzamiento .items1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url(../imagenGrids/vg1.png);
  background-size: cover;
}
.galeriaLanzamiento .items2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(../imagenGrids/vg2.png);
  background-size: cover;
  background-position: center;
}
.galeriaLanzamiento .items3 {
  grid-column: 3/5;
  grid-row: 1/2;
  background-image: url(../imagenGrids/vg7.png);
  background-size: cover;
  background-position: center;
}
.galeriaLanzamiento .items4 {
  grid-column: 2/3;
  grid-row: 2/4;
  background-image: url(../imagenGrids/vg9.png);
  background-size: cover;
}
.galeriaLanzamiento .items5 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(../imagenGrids/vg5.png);
  background-size: cover;
}
.galeriaLanzamiento .items6 {
  grid-column: 4/5;
  grid-row: 2/3;
  background-image: url(../imagenGrids/vg6.png);
  background-size: cover;
  background-position: center;
}
.galeriaLanzamiento .items7 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url(../imagenGrids/vg3.png);
  background-size: cover;
}
.galeriaLanzamiento .items8 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-image: url(../imagenGrids/vg8.png);
  background-size: cover;
}

.container6 {
  text-align: center;
  background-color: rgba(255, 206, 142, 0.904);
  padding: 2%;
  display: flex;
  width: 100%;
  height: 100%;
}
.container6 .polaroid {
  position: relative;
  width: 22%;
  margin: auto;
  background-color: aliceblue;
  padding: 3%;
  color: black;
}
.container6 figcaption {
  left: 0px;
  bottom: 0px;
  color: black;
  font-family: "Saira Extra Condensed", sans-serif;
}
.container6 .pfigcaption {
  color: black;
  margin-top: 5%;
  font-family: sans-serif;
  margin-bottom: 0% !important;
}

.container7 {
  text-align: center;
  background-color: rgba(255, 206, 142, 0.904);
  padding: 2%;
  display: flex;
  width: 100%;
  height: 100%;
}
.container7 .polaroid {
  position: relative;
  width: 22%;
  margin: auto;
  background-color: aliceblue;
  padding: 3%;
  color: black;
}
.container7 figcaption {
  left: 0px;
  bottom: 0px;
  color: black;
  font-family: "Saira Extra Condensed", sans-serif;
}
.container7 .pfigcaption {
  color: black;
  margin-top: 5%;
  font-family: sans-serif;
  margin-bottom: 0% !important;
}

hr {
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.pie-pagina {
  margin-top: 15%;
}
.pie-pagina h3 {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  display: grid;
  justify-content: center;
}
.pie-pagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .grupo1 .redFooter {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 1px;
}
.pie-pagina .grupo2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .grupo2 small {
  color: rgb(253, 162, 230);
  font-family: sans-serif;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  .items2 {
    display: none;
  }
  .items4 {
    display: none;
  }
  .items1 {
    display: grid;
    grid-column: 1/3;
    width: 100%;
  }
  .items7 {
    display: grid;
    grid-column: 1/3;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .items3 {
    grid-column: 1/5;
  }
  .items6 {
    grid-column: 1/5;
  }
  .items8 {
    grid-column: 1/5;
  }
  .items2 {
    display: none;
  }
  .items1 {
    display: none;
  }
  .items4 {
    display: none;
  }
  .items7 {
    display: none;
  }
}
@media (max-width: 710px) {
  body {
    font-size: 20px;
    width: 100vh !important;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 20px;
  }
  .card {
    margin-top: 4%;
  }
  .carousel-indicators {
    display: none;
  }
  strong {
    display: none;
  }
  .container6 {
    display: flex;
    flex-direction: column !important;
  }
  .container7 {
    display: flex;
    flex-direction: column !important;
  }
  .polaroid {
    width: 66% !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 4% !important;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 20px;
    width: 100vh !important;
  }
  .container6 {
    display: flex;
    flex-direction: column !important;
  }
  .container7 {
    display: flex;
    flex-direction: column !important;
  }
  .polaroid {
    width: 66% !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 4% !important;
  }
}
/*font-family: 'Saira Extra Condensed', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.918);
  margin: 0;
}

header {
  display: flex;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: auto;
  z-index: 2;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  padding: 20px 0px;
}
nav ul li {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 18px;
}
nav .menu > li {
  position: relative;
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  padding: 10px;
}

nav a:hover {
  color: rgba(255, 255, 0, 0.884);
}

.submenu {
  position: absolute;
  width: 250%;
  background-color: rgba(0, 0, 0, 0.918);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  list-style: none;
}

.submenu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.subrayado4 {
  color: rgba(0, 255, 221, 0.616);
  background-image: url(../imagenGrids/vg11.png);
  background-size: center;
  background-attachment: fixed;
  height: 800px;
  width: 100%;
  font-size: 200px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.container__main {
  width: 100%;
  margin-top: 10%;
  display: grid;
  padding-left: 300px;
  padding-right: 300px;
}
.container__main .container-table {
  width: 100%;
  background-color: whitesmoke;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 70px;
  font-family: Saira Extra Condensed, sans-serif;
  box-shadow: 0 0 10px whitesmoke;
}
.container__main .container-table .table__title {
  grid-column: 1/6;
  grid-row: 1/3;
  background-color: black;
  font-weight: bold;
  font-size: 1.9em;
  color: rgb(248, 248, 129);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__main .container-table .table__header, .container__main .container-table .table__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__main .container-table .table__item {
  padding: 20px;
  font-size: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.418);
}
.container__main .container-table .table__header {
  font-weight: bold;
  font-size: 1.5em;
  background-color: rgb(170, 168, 168);
}

.pie-pagina {
  margin-top: 15%;
}
.pie-pagina h3 {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  display: grid;
  justify-content: center;
}
.pie-pagina .pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .pie-pagina .grupo-1 .redFooter {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 1px;
}
.pie-pagina .pie-pagina .grupo-2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .pie-pagina .grupo-2 small {
  color: rgb(253, 162, 230);
  font-family: sans-serif;
}

@media (max-width: 950px) {
  .container__main {
    padding: 50px;
  }
}
/*font-family: 'Saira Extra Condensed', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.918);
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: auto;
  z-index: 2;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  padding: 20px 0px;
}
nav ul li {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 18px;
}
nav .menu > li {
  position: relative;
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  padding: 10px;
}

nav a:hover {
  color: rgba(255, 255, 0, 0.884);
}

.submenu {
  position: absolute;
  width: 250%;
  background-color: rgba(0, 0, 0, 0.918);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  list-style: none;
}

.submenu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.subrayado5 {
  color: rgba(236, 126, 126, 0.815);
  background-image: url(../imagenGrids/vg13.png);
  background-size: center;
  background-attachment: fixed;
  height: 870px;
  width: 100%;
  font-size: 200px;
  text-align: center;
}

.form-register {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: sans-serif;
  box-shadow: 7px 16px 37px #000;
}
.form-register .controls {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
}
.form-register .botons2 {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
}
.form-register .form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.form-register h5 {
  font-size: 22px;
  margin-bottom: 22px;
  color: white;
  font-family: Saira Extra Condensed, sans-serif;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: white;
}
.form-register p .form-register a {
  color: white;
  text-decoration: none;
}
.form-register p .form-register a:hover {
  color: white;
  text-decoration: underline;
}

.contenedor {
  height: 35vh;
}

footer {
  background-color: #141414;
  color: white;
  width: 80%;
  margin: auto;
  font-family: "Saira Extra Condensed", sans-serif;
}
footer .main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 3rem;
}
footer .main .brand {
  width: 75%;
}
footer .main li {
  list-style: none;
  margin-bottom: 10px;
}
footer .main input[type=text] {
  padding: 8px 10px;
  background-color: #141414;
  color: white;
  border: 1px solid #ccc;
  outline: none;
}
footer .main .btn {
  padding: 9px 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
}
footer .main .accounts {
  margin-top: 30px;
}
footer .main .accounts i {
  margin-right: 20px;
  font-size: 20px;
}
footer .copyright {
  color: rgb(255, 139, 226);
  padding: 1.2rem;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  opacity: 0.6;
}

hr {
  opacity: 0.6;
}/*# sourceMappingURL=estilos.css.map */