@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
/*font-family: 'Saira Extra Condensed', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgba(0, 0, 0, 0.918);
    margin: 0;
}


header{
    display: flex;
    min-height: 70px;
    background-color: rgba(0, 0, 0, 0.950);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: sticky;
    top: 0;
    width: auto;
    z-index: 2;

    .logo{
        display: flex;
        align-items: center;
    }
    
    .logo img{
        height: 50px;
        margin-right: 10px;
    }
}


img{
    height: auto;
    width: 100%;
}


a{
    text-decoration: none;
    color: whitesmoke;
}


nav{
    padding: 20px 0px;

    ul li {
        color: white;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 18px;
    }

    .menu > li{
        position: relative;
        display: inline-block;
    }
}


nav a{
    font-weight: 600;
    padding-right: 10px;
    padding: 10px;
    
}


nav a:hover{
    color: rgba(255, 255, 0, 0.884);
}


.submenu{
    position: absolute;
    width: 250%;
    background-color: rgba(0, 0, 0, 0.918);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
    list-style: none;
}

.submenu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


.subrayado2{
    font-size: 200px;
    text-align: center; 
    color: rgba(215, 243, 149, 0.815);
    background-image: url(../imagenes/imgHombre1.png);
    background-size: center;
    background-attachment: fixed;
    height: 900px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
}


.titulo-foto{
    text-align: center;
    margin: 5%;
    color: whitesmoke;
    font-size: 19px;
    font-family: 'Saira Extra Condensed', sans-serif;
}


.container5{
    text-align: center;
    background-color: rgb(255, 160, 242);
    padding: 2%;
    display: flex;
    width: 100%;
    height: 100%;

    .polaroid{
        position: relative;
        width: 22%;
        margin: auto;
        background-color: aliceblue;
        padding: 3%;
        color: black;
    }
    
    figcaption{
        left: 0px;
        bottom: 0px;
        color: black;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 18px !important;
    }

    .pfigcaption{
        color: black;
        margin-top: 5%;
        font-family: sans-serif;
        margin-bottom: 0% !important;
        font-size: 18px;
    }
}


hr{
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}


.pie-pagina{
    margin-top: 15%;

    h3{
        color: white;
        font-family: 'Saira Extra Condensed', sans-serif;
        display: grid;
        justify-content: center;
    }

    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;

        .redFooter{
            color: whitesmoke;
            font-family:'Saira Extra Condensed', sans-serif;
            letter-spacing: 2px;
        }
    }
    
    .grupo-2{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;

        small{
            color: rgb(253, 162, 230);
            font-family: sans-serif;
        }
    }
}


@media (max-width: 992px) {
    body { font-size: 18px; }

    .card{ 
        margin-top: 4%;
    }
    
    .carousel-indicators{
        display: none;
    }

    .container2{
        display: flex;
        flex-direction: column !important;

    }

    .polaroid{
        width: 66% !important;
        display: flex !important;
        flex-direction: column !important;
        margin-top: 4% !important;
    }
    
}


@media (max-width: 710px) {
    body { 
        font-size: 16px; 
        width: 100vh !important;
    }
}


@media (max-width: 600px) {

    body { 
        font-size: 18px; 
        width: 100vh !important;
    }

    .container5{
        display: flex;
        flex-direction: column !important;

    }

    .polaroid{
        width: 66% !important;
        display: flex !important;
        flex-direction: column !important;
        margin-top: 4% !important;
    }
}
