.subrayado2 {
  font-size: 200px;
  text-align: center;
  color: rgba(215, 243, 149, 0.815);
  background-image: url(../imagenes/imgHombre1.png);
  background-size: center;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 200px;
}

.galeriahombre {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(255, 0, 0, 0.658), rgb(255, 160, 242));
}
.galeriahombre .img {
  width: 350px;
  height: 800px;
  background: #fff;
  background-size: cover;
  border: 5px solid rgb(255, 253, 230);
  transition: 2s;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.galeriahombre .img:hover {
  background-position: top;
}
.galeriahombre .img1 {
  background-image: url(../imagenes/galehombre2.png);
  transition: all 500ms ease-out;
}
.galeriahombre .img2 {
  background-image: url(../imagenes/galehombre1.png);
  transition: all 500ms ease-out;
}
.galeriahombre .img3 {
  background-image: url(../imagenes/galehombre3.png);
  transition: all 500ms ease-out;
}

.galeriahombre .img1 .capa {
  top: 0;
  height: 100%;
  background: rgba(255, 160, 242, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.galeriahombre .img2 .capa {
  top: 0;
  height: 100%;
  background: rgba(255, 160, 242, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.galeriahombre .img3 .capa {
  top: 0;
  height: 100%;
  background: rgba(255, 160, 242, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.galeriahombre .img1:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.galeriahombre .img2:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.galeriahombre .img3:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.galeriahombre .img1:hover > .capa h3 {
  padding-top: 220px;
  padding-bottom: 10px;
}

.galeriahombre .img2:hover > .capa h3 {
  padding-top: 220px;
  padding-bottom: 10px;
}

.galeriahombre .img3:hover > .capa h3 {
  padding-top: 220px;
  padding-bottom: 10px;
}

.galeriahombre .img1 .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
  transition: all 500ms ease-out;
  padding-top: 600px;
}

.galeriahombre .img2 .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
  transition: all 500ms ease-out;
  padding-top: 600px;
}

.galeriahombre .img3 .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
  transition: all 500ms ease-out;
  padding-top: 600px;
}

.galeriahombre .img1 .capa p {
  color: #fff;
  font-size: 17px;
  line-height: 1.5;
  max-width: 220px;
  margin: auto;
}

.galeriahombre .img2 .capa p {
  color: #fff;
  font-size: 17px;
  line-height: 1.5;
  max-width: 220px;
  margin: auto;
}

.galeriahombre .img3 .capa p {
  color: #fff;
  font-size: 17px;
  line-height: 1.5;
  max-width: 220px;
  margin: auto;
}

.titulo-foto {
  text-align: center;
  margin: 5%;
  color: whitesmoke;
  font-size: 19px;
  font-family: "Saira Extra Condensed", sans-serif;
}

.container5 {
  text-align: center;
  background-color: rgb(255, 160, 242);
  padding: 2%;
  display: flex;
  width: 100%;
  height: 100%;
}
.container5 .polaroid {
  position: relative;
  width: 22%;
  margin: auto;
  background-color: aliceblue;
  padding: 3%;
  color: black;
}
.container5 figcaption {
  left: 0px;
  bottom: 0px;
  color: black;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 18px !important;
}
.container5 .pfigcaption {
  color: black;
  margin-top: 5%;
  font-family: sans-serif;
  margin-bottom: 0% !important;
  font-size: 18px;
}

hr {
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.pie-pagina {
  margin-top: 15%;
}
.pie-pagina h3 {
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  display: grid;
  justify-content: center;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .grupo-1 .redFooter {
  color: whitesmoke;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 2px;
}
.pie-pagina .grupo-2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  justify-content: center;
}
.pie-pagina .grupo-2 small {
  color: rgb(253, 162, 230);
  font-family: sans-serif;
}

/*holi*/
