@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
/*font-family: 'Saira Extra Condensed', sans-serif;*/


.subrayado2{
    font-size: 200px;
    text-align: center; 
    color: rgba(215, 243, 149, 0.815);
    background-image: url(../imagenes/imgHombre1.png);
    background-size: center;
    background-attachment: fixed;
    height: 900px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
}


.galeriahombre{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(rgba(255, 0, 0, 0.658), rgb(255, 160, 242));

    .immg{
        width: 350px;
        height: 800px;
        background: #fff;
        background-size: cover;
        border: 5px solid rgb(255, 253, 230);
        transition: 2s;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
        cursor: pointer;
    }

    .immg:hover{
        background-position: top;
    }

    .immg1{
        background-image: url(../imagenes/galehombre2.png);
        transition: all 500ms ease-out;
    }
    
    .immg2{
        background-image: url(../imagenes/galehombre1.png);
        transition: all 500ms ease-out;
    }
    
    .immg3{
        background-image: url(../imagenes/galehombre3.png);
        transition: all 500ms ease-out;
    }
}


@mixin galehombre {
    top: 0;
    height: 100%;
    background: rgba(255, 160, 242,0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

@mixin galeho {
    opacity: 1;
    visibility: visible;
}


@mixin galecapa {
    padding-top: 220px;
    padding-bottom: 10px;
}


@mixin galeh {
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
    transition: all 500ms ease-out;
    padding-top: 600px;
}


@mixin galep {
    color: #fff;
    font-size: 17px;
    line-height: 1.5;
    max-width: 220px;
    margin: auto;
}


.galeriahombre .immg1 .capa{
    @include galehombre()
}


.galeriahombre .immg2 .capa{
    @include galehombre()
}


.galeriahombre .immg3 .capa{
    @include galehombre()
}


.galeriahombre .immg1:hover > .capa{
    @include galeho()
}


.galeriahombre .immg2:hover > .capa{
    @include galeho()
}


.galeriahombre .immg3:hover > .capa{
    @include galeho()
}


.galeriahombre .immg1:hover > .capa h3{
    @include galecapa()
}


.galeriahombre .immg2:hover > .capa h3{
    @include galecapa()
}


.galeriahombre .immg3:hover > .capa h3{
    @include galecapa()
}


.galeriahombre .immg1 .capa h3{
    @include galeh()
}


.galeriahombre .immg2 .capa h3{
    @include galeh()
}


.galeriahombre .immg3 .capa h3{
    @include galeh()
}


.galeriahombre .immg1 .capa p{
    @include galep()
}


.galeriahombre .immg2 .capa p{
    @include galep()
}


.galeriahombre .immg3 .capa p{
    @include galep()
}


.titulo-foto{
    text-align: center;
    margin: 5%;
    color: whitesmoke;
    font-size: 19px;
    font-family: 'Saira Extra Condensed', sans-serif;
}


.container5{
    text-align: center;
    background-color: rgb(255, 160, 242);
    padding: 2%;
    display: flex;
    width: 100%;
    height: 100%;

    .polaroid{
        position: relative;
        width: 22%;
        margin: auto;
        background-color: aliceblue;
        padding: 3%;
        color: black;
    }
    
    figcaption{
        left: 0px;
        bottom: 0px;
        color: black;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 18px !important;
    }

    .pfigcaption{
        color: black;
        margin-top: 5%;
        font-family: sans-serif;
        margin-bottom: 0% !important;
        font-size: 18px;
    }
}


hr{
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}


.pie-pagina{
    margin-top: 15%;

    h3{
        color: white;
        font-family: 'Saira Extra Condensed', sans-serif;
        display: grid;
        justify-content: center;
    }

    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;

        .redFooter{
            color: whitesmoke;
            font-family:'Saira Extra Condensed', sans-serif;
            letter-spacing: 2px;
        }
    }
    
    .grupo-2{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;

        small{
            color: rgb(253, 162, 230);
            font-family: sans-serif;
        }
    }
}


@media (max-width: 1100px) {
.galeriahombre{
    display: flex;
    flex-direction: column !important;
}

.immg{
    width: 66%;
    margin-bottom: 50px;
}
}


@media (max-width: 992px) {
    body { font-size: 18px; }

    .card{ 
        margin-top: 4%;
    }
    
    .carousel-indicators{
        display: none;
    }

    .container2{
        display: flex;
        flex-direction: column !important;

    }

    .polaroid{
        width: 66% !important;
        display: flex !important;
        flex-direction: column !important;
        margin-top: 4% !important;
    }
}


@media (max-width: 710px) {
    body { 
        font-size: 16px; 
        width: 100vh !important;
    }
}


@media (max-width: 600px) {

    body { 
        font-size: 18px; 
        width: 100vh !important;
    }

    .container5{
        display: flex;
        flex-direction: column !important;

    }

    .polaroid{
        width: 66% !important;
        display: flex !important;
        flex-direction: column !important;
        margin-top: 4% !important;
    }
}