@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
/*font-family: 'Saira Extra Condensed', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgba(0, 0, 0, 0.918);
    margin: 0;
}


header{
    display: flex;
    min-height: 70px;
    background-color: rgba(0, 0, 0, 0.950);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: sticky;
    top: 0;
    width: auto;
    z-index: 2;

    .logo{
        display: flex;
        align-items: center;
    }
    
    .logo img{
        height: 50px;
        margin-right: 10px;
    }
}


img{
    height: auto;
    width: 100%;
}


a{
    text-decoration: none;
    color: whitesmoke;
}


nav{
    padding: 20px 0px;

    ul li {
        color: white;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 18px;
    }
    
    .menu > li{
        position: relative;
        display: inline-block;
    }
}


nav a{
    font-weight: 600;
    padding-right: 10px;
    padding: 10px;
    
}


nav a:hover{
    color: rgba(255, 255, 0, 0.884);
}


.submenu{
    position: absolute;
    width: 250%;
    background-color: rgba(0, 0, 0, 0.918);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
    list-style: none;
}


.submenu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
}


.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


.subrayado3{
    font-size: 200px;
    text-align: center; 
    color: rgba(255, 189, 102, 0.719);
    background-image: url(../imagenes/imgMujer1.png);
    background-size: center;
    background-attachment: fixed;
    height: 850px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}


.titulo-foto{
    text-align: center;
    margin: 5%;
    color: whitesmoke;
    font-size: 19px;
    font-family: 'Saira Extra Condensed', sans-serif;
}


.galeriaLanzamiento{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 220px 400px;
    padding: 20px;
    grid-gap: 20px;

    .items{
        border: 2px whitesmoke;
        border-radius: 10px;
    }

    .items:hover{
        transform: scale(1.05);
        transition: all 0.6s;
    }

    .items1{
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../imagenGrids/vg1.png);
        background-size: cover;
    }

    .items2{
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../imagenGrids/vg2.png);
        background-size: cover;
        background-position: center;
    }

    .items3{
        grid-column: 3/5;
        grid-row: 1/2;
        background-image: url(../imagenGrids/vg7.png);
        background-size: cover;
        background-position: center;
    }

    .items4{
        grid-column: 2/3;
        grid-row: 2/4;
        background-image: url(../imagenGrids/vg9.png);
        background-size: cover;
    }

    .items5{
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(../imagenGrids/vg5.png);
        background-size: cover;
    }

    .items6{
        grid-column: 4/5;
        grid-row: 2/3;
        background-image: url(../imagenGrids/vg6.png);
        background-size: cover;
        background-position: center;
    }

    .items7{
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../imagenGrids/vg3.png);
        background-size: cover;
    }

    .items8{
        grid-column: 3/5;
        grid-row: 3/4;
        background-image: url(../imagenGrids/vg8.png);
        background-size: cover;
    }
}


@mixin contenedorMujer {
    text-align: center;
    background-color: rgba(255, 206, 142, 0.904);
    padding: 2%;
    display: flex;
    width: 100%;
    height: 100%;
}


.container6{
    text-align: center;
    background-color: rgba(255, 206, 142, 0.904);
    padding: 2%;
    display: flex;
    width: 100%;
    height: 100%;

    .polaroid{
        position: relative;
        width: 22%;
        margin: auto;
        background-color: aliceblue;
        padding: 3%;
        color: black;
    }
    
    figcaption{
        left: 0px;
        bottom: 0px;
        color: black;
        font-family: 'Saira Extra Condensed', sans-serif;
    }
    
    .pfigcaption{
        color: black;
        margin-top: 5%;
        font-family: sans-serif;
        margin-bottom: 0% !important;
    }
}


.container7{
    @include contenedorMujer();

    .polaroid{
        position: relative;
        width: 22%;
        margin: auto;
        background-color: aliceblue;
        padding: 3%;
        color: black;
    }
    
    figcaption{
        left: 0px;
        bottom: 0px;
        color: black;
        font-family: 'Saira Extra Condensed', sans-serif;
    }
    
    .pfigcaption{
        color: black;
        margin-top: 5%;
        font-family: sans-serif;
        margin-bottom: 0% !important;
    }
}


hr{
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}


.pie-pagina{
    margin-top: 15%;

    h3{
        color: white;
        font-family: 'Saira Extra Condensed', sans-serif;
        display: grid;
        justify-content: center;
    }

    .grupo1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;
    
        .redFooter{
            color: whitesmoke;
            font-family:'Saira Extra Condensed', sans-serif;
            letter-spacing: 1px;
        }
    }
    
    .grupo2{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;
    
        small{
            color: rgb(253, 162, 230);
            font-family: sans-serif;
        }
    }
}


@media (max-width: 700px){
    header {
        flex-direction: column;
    }

    .items2{
        display: none;
    }

    .items4{
        display: none;
    }

    .items1{
        display: grid;
        grid-column: 1/3;
        width: 100%;
    }

    .items7{
        display: grid;
        grid-column: 1/3;
        width: 100%;
    }
    }



@media (max-width: 600px){
    
        .items3{
            grid-column: 1/5;
        }
    
        

        .items6{
            grid-column: 1/5;

        }
        .items8{
            grid-column: 1/5;

        }
    
        .items2{
            display: none;
        }
        .items1{
            display: none;
        }
    
        .items4{
            display: none;
        }
        .items7{
            display: none;
        }
        }




        @media (max-width: 710px) {
            body { 
                font-size: 20px; 
                width: 100vh !important;
            }
        }
        
        @media (max-width: 992px) {
            body { font-size: 20px; }
        
            .card{ 
                margin-top: 4%;
            }
            
            .carousel-indicators{
                display: none;
            }
        
            strong{
                display: none;
            }
        
            .container6{
                display: flex;
                flex-direction: column !important;
            }

            .container7{
                display: flex;
                flex-direction: column !important;
        
            }
        
            .polaroid{
                width: 66% !important;
                display: flex !important;
                flex-direction: column !important;
                margin-top: 4% !important;
            }
            
        }
        
        @media (max-width: 600px) {
        
            body { 
                font-size: 20px; 
                width: 100vh !important;
            }
        
            .container6{
                display: flex;
                flex-direction: column !important;
            }

            .container7{
                display: flex;
                flex-direction: column !important;
            }
        
            .polaroid{
                width: 66% !important;
                display: flex !important;
                flex-direction: column !important;
                margin-top: 4% !important;
            }
        }

