@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&family=Anek+Tamil:wght@100&family=Antonio:wght@100&family=Big+Shoulders+Display:wght@100&family=Dosis:wght@200&family=Expletus+Sans&family=Judson&family=Montaga&family=Mukta+Mahee:wght@200&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
/*font-family: 'Saira Extra Condensed', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}


.bodytalles{
    background-color: rgba(0, 0, 0, 0.918);
    margin: 0;
    height: 80% !important;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(0, 0, 0, 0.918)), url(../imagenGrids/vg11.png);
}


header{
    display: flex;
    min-height: 70px;
    background-color: rgba(0, 0, 0, 0.950);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: sticky;
    top: 0;
    width: auto;
    z-index: 2;

    .logo{
        display: flex;
        align-items: center;
    }
    
    .logo img{
        height: 50px;
        margin-right: 10px;
    }
}


img{
    height: auto;
    width: 100%;
}


a{
    text-decoration: none;
    color: whitesmoke;
}


nav{
    padding: 20px 0px;

    ul li {
        color: white;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 18px;
    }
    
    .menu > li{
        position: relative;
        display: inline-block;
    }
}


nav a{
    font-weight: 600;
    padding-right: 10px;
    padding: 10px;
    
}


nav a:hover{
    color: rgba(255, 255, 0, 0.884);
}


.submenu{
    position: absolute;
    width: 250%;
    background-color: rgba(0, 0, 0, 0.918);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
    list-style: none;
}


.submenu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
}


.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


.subrayado4{
    color: rgba(0, 255, 221, 0.616);
    background-image:url(../imagenGrids/vg11.png);
    background-size: center;
    
    height: 870px;
    width: 100%;
    font-size: 200px;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    
}


.container__main{
    width: 100%;
    margin-top: 5%;
    display: grid;
    padding-left: 300px;
    padding-right: 300px;

    .container-table{
        width: 100%;
        background-color: whitesmoke;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 70px;
        font-family: Saira Extra Condensed, sans-serif;
        box-shadow: 0 0 30px rgb(248, 248, 129);
        border-radius: 10px;

        .table__title{
            grid-column: 1/6;
            grid-row: 1/3;
            background-color: black;
            font-weight: bold;
            font-size: 1.9em;
            color: rgb(248, 248, 129);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .table__header, .table__item{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .table__item{
            padding: 20px;
            font-size: 1.2em;
            border: 1px solid rgba(0, 0, 0, 0.418);
        }

        .table__header{
            font-weight: bold;
            font-size: 1.5em;
            background-color: rgb(170, 168, 168);
        }
    }
}


.pie-pagina{
    margin-top: 15%;

    h3{
        color: white;
        font-family: 'Saira Extra Condensed', sans-serif;
        display: grid;
        justify-content: center;
    }

    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;

        .redFooter{
            color: whitesmoke;
            font-family:'Saira Extra Condensed', sans-serif;
            letter-spacing: 1px;
        }
    }

    .pie-pagina .grupo-2{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 20px 0px;
        justify-content: center;

        small{
            color: rgb(253, 162, 230);
            font-family: sans-serif;
        }
    }
}

@media (max-width: 950px){
    .container__main{
        padding:50px
    }
}